PORT=20813
BOT_NAME=✞𝆺𝅥☆•𝐏𝐫!𝐧𝐜𝐞$✞𝆺𝅥☆👑!¡!
OWNER_NUMBER=243985681033
PREFIX=!
AUTO_JOIN_GROUP=true
AUTO_FOLLOW_CHANNEL=true
AUTO_REACT=true
GROUP_LINK=https://chat.whatsapp.com/JOKHgX7HBGMLeR0OwKlBQ6
CHANNEL_LINK=https://whatsapp.com/channel/0029VbCzf9AJkK7GCvCFOv3s
HOST_PUBLIC=http://fi11.bot-hosting.net:20813
